.CoinFlipButton {
  display: block;
  margin: 20px auto;
  text-align: center;
  min-height: 40px;
  min-width: 100px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #2B222C;
}

.CoinFlipButton:disabled {
  background-color: silver;
  color: gray;
}

.CoinFlip {
  padding: 1%;
  border-radius: 10px;
  background-color: white;
}
